<div class="borda">
    <h2 class="text-primary text-center">Gestão de Documentos</h2>

    <div class="row" *ngIf="action!='edit'">
        <mat-form-field>
            <mat-label>Tipo Documento:</mat-label>
            <mat-select id="documento" class="form-select" #lista
             (selectionChange)="setDocSelected(lista.value)">
              <mat-option value="CONTRATO">Contrato</mat-option>
              <mat-option value="LICITACAO">Licitação</mat-option>
              <mat-option value="FINANCEIRA">Financeira</mat-option>
              <mat-option value="PASTA">Pasta Funcional</mat-option>
              <mat-option value="OUTRO">Outros Assuntos</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <mat-divider></mat-divider>

    
    <div class="mb-3" *ngIf="docSelecionado">
        <section *ngIf="action=='list'">
            <app-document-lista id="listaprincipal" [docSelecionado]="docSelecionado" (backToDocument)="actionDocument($event)"
                (documentId)="sendIdDocument($event)"></app-document-lista>
        </section>
        <section *ngIf="action=='edit'">
            <h2 class="text-primary text-center">Edicão de Documento</h2>
            <app-document-alterar [docSelecionado]="docSelecionado" 
              [documentId]="documentId" [tipoDocumento]="docSelecionado"
                (backToDocument)="actionDocument($event)"></app-document-alterar>
        </section>
    </div>

</div>
