<mat-sidenav-container class="system_container">
    <mat-sidenav mode="side" opened>
        <app-menu [indexMenu]="menuitem" (sendIndexMenu)="setIndexMenu($event)"></app-menu>
    </mat-sidenav>
    <mat-sidenav-content [ngStyle]="{backgroundImage:'url(./assets/images/fundo.png)'}">
        <div *ngIf="menuitem == 0">
            <h2>Dashboard, bem-vindo(a) {{ user_logged?.nome }}</h2>
        </div>

        <div *ngIf="menuitem == 1">
            <app-document-incluir docSelecionado="CONTRATO"></app-document-incluir>
        </div>

        <div *ngIf="menuitem == 2">
            <app-document ></app-document>
        </div>

        <div *ngIf="menuitem == 3">
            <app-report></app-report>
        </div>

        <div *ngIf="menuitem == 4 && isAdmin()">
            <app-user></app-user>
        </div>

        <div *ngIf="menuitem == 5">
            <app-edit-user-logged (sendIndexMenu)="setIndexMenu($event)" ></app-edit-user-logged>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>