<mat-sidenav-container class="system_container">
    <mat-sidenav mode="side" opened>
        <app-menu [indexMenu]="menuitem" (sendIndexMenu)="setIndexMenu($event)"></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <div *ngIf="menuitem == 0">
            <h2>Dashboard, bem-vindo(a) {{ user_logged?.nome }}</h2>
        </div>

        <div *ngIf="menuitem == 1">
            <app-document></app-document>
        </div>

        <div *ngIf="menuitem == 2">
            <app-report></app-report>
        </div>

        <div *ngIf="menuitem == 3">
            <app-search></app-search>
        </div>

        <div *ngIf="menuitem == 4 && isAdmin()">
            <app-user></app-user>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>