.system_container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}

.mat-sidenav-content {
    padding: 25px;
    color: #8f8f8f !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


