<div class="no-style" style="margin-left: 4px">
    <h2 class="text-primary text-center">Inserir documento</h2>
    <form [formGroup]="formCreateDocument" (ngSubmit)="saveDocument()" novalidate>

        <div class="form-group">
            <label for="tipoDocumento">Tipo Documento: </label>
            <select id="tipoDocumento" class="form-select" ng-model="tipoDocumento">
                <option value="CONTRATO">Contrato</option>
                <option value="LICITACAO">Licitação</option>
                <option value="FINANCEIRA">Financeira</option>
                <option value="PASTA">Pasta Funcional</option>
                <option value="OUTRO">Outros Assuntos</option>
            </select>
        </div>
        <div class="form-group">
            <label for="documentoEncaminhamento">Documento Encaminhamento: </label>
            <input id="documentoEncaminhamento" ng-model="documentoEncaminhamento"
                   type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="unidadeProdutora">Unidade Produtora: </label>
            <input id="unidadeProdutora" type="text" class="form-control">
        </div>

        <div class="management-buttons">
            <button type="submit" class="btn btn-primary">Salvar</button>
            |
            <button (click)="back()" class="btn btn-secondary">Voltar</button>
        </div>
    </form>
</div>