<main>

    <div class="message" *ngIf="mensagem">
        <ngb-alert type="danger" [dismissible]="false">
            {{mensagem}}
        </ngb-alert>
    </div>

    <section id="login">
        <h3>Sistema de Arquivos</h3>
        <div class="container" [formGroup]="loginForm">
            <mat-form-field appearance="fill">
                <mat-label>Matricula</mat-label>
                <input matInput formControlName="matricula" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Senha</mat-label>
                <input matInput type="password" formControlName="senha" required>
            </mat-form-field>

            <button mat-button color="primary" (click)="doLogin()">Login</button>
        </div>
    </section>
</main>

